body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 300px;
}

.input-name {
    height: 100px;
    width: 80px;
    border-radius: 10px;
    outline: hidden;
}